<!DOCTYPE html>
<html>
  <head>
    <title>NickNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
      window.sloth = "<%= image_url('sloth3.png') %>";
      window.wyoming = "<%= image_url('wyoming.jpg')%>"
      window.notepad_splash = "<%= image_url('notepad_splash.jpg') %>"
      window.github_logo = "<%= image_url('github_logo.png') %>"
      window.country_road = "<%= image_url('country_road.jpg')%>"
    </script>

    <meta property="og:title" content="Nicknote" />
     <meta property='og:image' content="<%= image_url('nicknote.png') %>"/>
     <meta property="og:description"
       content="This full-stack web app is a complete, elegant Evernote clone. Smooth user experience in rich text editing, expanded note sorting / filtering / searching, a forgiving auto-save function, efficient CRUD functionality and scalable database queries.
        Also the logo is a happy sloth cheering you on so what's not to love."
     />
     <meta property="og:url"
       content="http://nicknote.herokuapp.com/"
     />
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
